```sql
-- Update category for Bongs and Water Pipes
UPDATE main_site_products
SET category_id = 'bongs'
WHERE category_id IS NULL
  AND (name ILIKE '%beaker%' OR name ILIKE '%bong%' OR name ILIKE '%water pipe%');

-- Update category for Dab Rigs and Nectar Collectors
UPDATE main_site_products
SET category_id = 'dabsntools'
WHERE category_id IS NULL
  AND (name ILIKE '%dab rig%' OR name ILIKE '%e-rig%' OR name ILIKE '%nectar collector%' OR name ILIKE '%recycler%');

-- Update category for Pipes
UPDATE main_site_products
SET category_id = 'pipes'
WHERE category_id IS NULL
  AND (name ILIKE '%pipe%' AND name NOT ILIKE '%water pipe%');

-- Update category for THC-A Products
UPDATE main_site_products
SET category_id = 'thca'
WHERE category_id IS NULL
  AND (name ILIKE '%thc-a%' OR name ILIKE '%thca%' OR name ILIKE '%delta j''s%');

-- Update category for Kratom Products
UPDATE main_site_products
SET category_id = 'kratom'
WHERE category_id IS NULL
  AND (name ILIKE '%kratom%' OR name ILIKE '%7-ohmz%');

-- Update category for Mushroom Products
UPDATE main_site_products
SET category_id = 'mushrooms'
WHERE category_id IS NULL
  AND (name ILIKE '%mushroom%' OR name ILIKE '%shroom%');

-- Update category for Vaporizers, Cartridges, and Batteries
UPDATE main_site_products
SET category_id = 'vaporizers'
WHERE category_id IS NULL
  AND (name ILIKE '%vape%' OR name ILIKE '%vaporizer%' OR name ILIKE '%cartridge%' OR name ILIKE '%battery%');

-- Update category for Accessories like Grinders and Torches
UPDATE main_site_products
SET category_id = 'accessories'
WHERE category_id IS NULL
  AND (name ILIKE '%grinder%' OR name ILIKE '%tray%' OR name ILIKE '%torch%' OR name ILIKE '%papers%');

```
