```sql
UPDATE main_site_products
SET category_id = 'bongs'
WHERE category_id IS NULL
  AND (name ILIKE '%beaker bong%' OR name ILIKE '%water pipe%' OR (name ILIKE '%bong%' AND name NOT ILIKE '%attachment%'));

UPDATE main_site_products
SET category_id = 'bong-attachments'
WHERE category_id IS NULL
  AND (name ILIKE '%bong attachment%' OR name ILIKE '%replacement part%' OR name ILIKE '%ice catcher%' OR name ILIKE '%percolator attachment%' OR name ILIKE '%bowl replacement%' OR name ILIKE '%stem extension%' OR name ILIKE '%ash catcher%' OR name ILIKE '%diffuser attachment%');

UPDATE main_site_products
SET category_id = 'pipes'
WHERE category_id IS NULL
  AND name ILIKE '%pipe%'
  AND name NOT ILIKE '%water pipe%'
  AND name NOT ILIKE '%hookah%';

UPDATE main_site_products
SET category_id = 'hookahs'
WHERE category_id IS NULL
  AND (name ILIKE '%hookah%' OR name ILIKE '%shisha%');

UPDATE main_site_products
SET category_id = 'dabsntools'
WHERE category_id IS NULL
  AND (name ILIKE '%dab rig%' OR name ILIKE '%e-rig%' OR name ILIKE '%recycler rig%');

UPDATE main_site_products
SET category_id = 'dab-tools'
WHERE category_id IS NULL
  AND (name ILIKE '%nectar collector%' OR name ILIKE '%dab kit%' OR name ILIKE '%e-nail%' OR name ILIKE '%dab mat%' OR name ILIKE '%carb cap%' OR name ILIKE '%dab tool%' OR name ILIKE '%bowl adapter%');

UPDATE main_site_products
SET category_id = 'thca'
WHERE category_id IS NULL
  AND (name ILIKE '%thc-a%' OR name ILIKE '%thca%' OR name ILIKE '%delta j%' OR name ILIKE '%preroll%');

UPDATE main_site_products
SET category_id = 'kratom'
WHERE category_id IS NULL
  AND (name ILIKE '%kratom%' OR name ILIKE '%7-ohmz%');

UPDATE main_site_products
SET category_id = 'mushrooms'
WHERE category_id IS NULL
  AND name ILIKE '%mushroom%';

UPDATE main_site_products
SET category_id = 'vaporizers'
WHERE category_id IS NULL
  AND (name ILIKE '%vaporizer%' OR name ILIKE '%vape%' OR name ILIKE '%battery%');

UPDATE main_site_products
SET category_id = 'accessories'
WHERE category_id IS NULL
  AND (name ILIKE '%grinder%' OR name ILIKE '%tray%' OR name ILIKE '%torch%');
```
