```sql
-- Bongs
UPDATE main_site_products
SET category_id = 'bongs'
WHERE category_id IS NULL
  AND (name ILIKE '%beaker%' OR name ILIKE '%bong%' OR name ILIKE '%water pipe%')
  AND name NOT ILIKE '%recycler%'
  AND name NOT ILIKE '%rig%'
  AND name NOT ILIKE '%attachment%'
  AND name NOT ILIKE '%replacement%';

-- Bong Attachments
UPDATE main_site_products
SET category_id = 'bong-attachments'
WHERE category_id IS NULL
  AND (name ILIKE '%bong ice catcher%' OR name ILIKE '%percolator attachment%' OR name ILIKE '%bong bowl replacement%' OR name ILIKE '%glass bong stem%' OR name ILIKE '%ash catcher%' OR name ILIKE '%bong diffuser%');

-- Pipes
UPDATE main_site_products
SET category_id = 'pipes'
WHERE category_id IS NULL
  AND (name ILIKE '%pipe%' OR name ILIKE '%smoking pipe%')
  AND name NOT ILIKE '%water pipe%';

-- Dab Rigs (main rigs)
UPDATE main_site_products
SET category_id = 'dabsntools'
WHERE category_id IS NULL
  AND (name ILIKE '%dab rig%' OR name ILIKE '%e-rig%' OR name ILIKE '%recycler rig%' OR name ILIKE '%recycler water pipe%' OR name ILIKE '%diamond glass%recycler%');

-- Dab Tools & Accessories
UPDATE main_site_products
SET category_id = 'dab-tools'
WHERE category_id IS NULL
  AND (name ILIKE '%nectar collector%' OR name ILIKE '%dab kit%' OR name ILIKE '%e-nail%' OR name ILIKE '%dab mat%' OR name ILIKE '%carb cap%' OR name ILIKE '%dab tool%' OR name ILIKE '%e-rig bowl%' OR (name ILIKE '%battery%' AND name ILIKE '%twist%'));

-- THC-A Products
UPDATE main_site_products
SET category_id = 'thca'
WHERE category_id IS NULL
  AND (name ILIKE '%thc-a%' OR name ILIKE '%thca%' OR name ILIKE '%delta j%' OR name ILIKE '%preroll%' OR name ILIKE '%diamonds%');

-- Kratom Products
UPDATE main_site_products
SET category_id = 'kratom'
WHERE category_id IS NULL
  AND (name ILIKE '%kratom%' OR name ILIKE '%7-ohmz%' OR name ILIKE '%chewable tablets%');

-- Vaporizers
UPDATE main_site_products
SET category_id = 'vaporizers'
WHERE category_id IS NULL
  AND (name ILIKE '%vaporizer%' OR name ILIKE '%vape%');

-- General Accessories
UPDATE main_site_products
SET category_id = 'accessories'
WHERE category_id IS NULL
  AND (name ILIKE '%grinder%' OR name ILIKE '%tray%' OR name ILIKE '%torch%');
```
